body{
    background: #3c8bcd url(../img/background.jpg) top center no-repeat;
    font-family: arial, helvetica, sans-serif;
    text-align:center;
    margin:0px;
    padding:0px;
    background-attachment: fixed;
}

h2 {
    text-align: center;
}

.base_logo {
    margin: 10px 0px 15px 0px;

}
.messages  {
    color: #fff;
    background-color: #c0311a;
    font-style: italic;
    font-weight: bold;
    vertical-align:middle;
    padding: 10px;
}

#logo {
    width: 408px;
    height: 200px;
}

#sell {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    padding:20px;
}

#buy {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    padding:20px;
}

.navbar-inverse .navbar-inner {
    display: none;
}

.page-header {
    display:none;
}

label {
    font-size: 15px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}