{% extends base.html %}

{% block body %}
<div id="buy" class="container">
    <h2>Buy</h2>
    <p>Search form here.</p>
    <p>Checkboxes for items go here</p>
    <p>Location: auto-detect, or show a map, or both</p>
    <p>List with markers/directions</p>
    <table>
        {% for checkin_list AS checkin %}
            <tr><td>{{ checkin.seller_name }}</td><td>{% for checkin.items AS item %}{{ item.name }}, {% endfor %}</td><td>{{ checkin.time }}</td></tr>
        {% empty %}
            <tr><td>Oops, no checkins to show.</td></tr>
        {% endfor %}
    </table>
    <p>Map with markers/directions</p>

</div>
{% endblock %}